@model Rootobject
@{    
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@*    <h1 class="display-4">Card Draw</h1>
    <h2>Success: @Model.success</h2>
    <h2>Deck Id: @Model.deck_id</h2>
    <h2>Remaining: @Model.remaining</h2>*@
    
   Deck ID: @Model.deck_id<br />
   Remaining Cards: @Model.remaining<br />
   
    @foreach(var test in Model.cards)
    {
   
        <img src="@test.image">
    }
</div>

<div class="text-center">
   <!--Lets pull additional cards again-->
   <a href="/home/draw?deck_id=@Model.deck_id">Draw Again</a>
</div>